# Игнорируем всё, что не относится к коду
.git/
postgres_data/
s3_data/
flutter/

# Игнорируем тяжелые исходники движков
whisper.cpp/
piper1-gpl/

# Игнорируем все виртуальные окружения
**/venv/
**/__pycache__/

# Игнорируем медиа-файлы
**/input/
**/output/
**/*.wav
**/.DS_Store